[user]
	name = AAAABBBB
	email = XXXXXXXX@users.noreply.github.com
	signingkey = 34A91BE1A93DDAF6
[alias]
	lg = !"git lg1"
	lg1 = !"git lg1-specific --all"
	lg2 = !"git lg2-specific --all"
	lg3 = !"git lg3-specific --all"

	lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

	ignored = !git ls-files -v | grep "^[[:lower:]]"
	prune-tags = !git fetch origin refs/tags/*:refs/tags/* --prune
[merge]
    tool = vscode
	ff = no
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	ff = yes
[difftool]
	prompt = false
[push]
	followTags = true
[core]
	editor = code --wait
	autocrlf = true
[rerere]
	enabled = true
	
# .gitconfig includes
[includeif "gitdir:**/priv/**"]
	path = .gitconfig.priv

# templates
[commit]
	gpgsign = true
	template = ~/.gitcommit
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[tag]
	forceSignAnnotated = true
[credential]
	preserve = false
	helper = wincred
